.text {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#project-details {
  padding-top: 40px;
  position: absolute;
}

article {
  /* padding: 0 0 0 800px; */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  
}

p {
  text-align: center;
  max-width: 576px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #848FA5;
  color: #E5DCC5;

}

.h1 {
  color: rgb(143, 57, 57);
  margin: auto;
}