.link {
  background-color: red;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  display: inline-block;
  justify-content: flex-start;
}

/* a {
  color: #E5DCC5;

} */
h3 {
  color: #E5DCC5;
  font-size: 300px;
  text-align: center;
  padding-top: 10000px;
  padding-bottom: 20px;
}

.image {
  vertical-align: top;
  padding-top: 100px;
}

/* buttonDiv {
  display: flex;
  justify-content: center;
} */

