.link {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  display: inline-block;
  justify-content: flex-start;
}

/* a {
  color: #E5DCC5;

} */

.image {
  vertical-align: top;
  padding-top: 100px;
}

buttonDiv {
  display: flex;
  justify-content: center;
}

