.container {
text-align: center;
padding-top: 20px;
border: 1px solid #E5DCC5;
/* justify-content: space-evenly; */
height: 315px;
width: 250px;
color: #E5DCC5;
justify-content: center;
display: flex;
display: inline-block;
background-color: #0E1116;
}

.container:hover {
background-color: #3F826D;
transition: background-color 0.2s;
}

.h3 {
text-decoration: none;
font-size: 23px;
padding-top: 27px;
}

.h6 {
text-decoration: none;
font-size: 14px;
}

.img {
height: 160px;
width: 90%;
}